/Scratch/Apahce felix embedding tutorials/tutorial1/target/
/Scratch/Apahce felix embedding tutorials/tutorialinterfaces/target/
/Scratch/Apahce felix embedding tutorials/tutorial2/target/
/Scratch/Apahce felix embedding tutorials/OSGIUsage/nbproject/private/
/Scratch/Apahce felix embedding tutorials/module1/target/
/Scratch/Apahce felix embedding tutorials/mavenproject1/target/
/Scratch/Apahce felix embedding tutorials/mavenproject2/target/
/Scratch/Apahce felix embedding tutorials/core/target/
/Scratch/Apahce felix embedding tutorials/plugin/target/
/Scratch/Apahce felix embedding tutorials/interface/target/
/Scratch/Apahce felix embedding tutorials/int/nbproject/private/
/Scratch/Apahce felix embedding tutorials/interfaces/target/
/Scratch/Apahce felix embedding tutorials/turnip/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesOne/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesTwo/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesThree/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesFour/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesFive/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesSix/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesSeven/target/
/Scratch/Apahce felix embedding tutorials/SassenrathExamplesEight/target/